---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  .gallery-image { /* This matches the class in your HTML */
    width: 100%;
    height: 100%;
  }

  .gallery .image-link .image-container {
    position: relative;
    width: 100%; /* or specific width */
    height: 400px; /* adjust based on your preference */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery .image-link .image-container .image-title {
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .gallery .image-link .image-container:hover .image-title {
    display: block;
  }